.back{
    background-image: url("/assets/img/weather2.avif");
    background-size: contain;
    background-repeat: repeat-y;
    
}

.container{
    filter: brightness(100%);
}

.card{
    transition: box-shadow 0.3s;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    height: 650px;
}